:root {
    --white-color: #fff;
}
body {
    background-color: powderblue;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: Times New Roman;
}
.container {
    position: relative;
    width: 100%;
    max-width: 1000px;
    min-height: 1000px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    box-shadow: 0 35px 55px rgb(0, 0, 0, 0.1);
    background: #fff;
}
.container .left_Part {
    position: relative;
    padding: 40px;
    background: #003147;
}
.profile {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
    border-bottom: 1px solid rgb(255, 255, 255, 0.2);
}
.profile .image {
    position: relative;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
}
.profile .image img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.profile h2 {
    color: var(--white-color);
    font-size: 1.5em;
    margin-top: 20px;
    text-align: center;
    font-weight: 500;
    line-height: 1.4em;
}
.profile h2 span {
    font-size: 0.9em;
    font-weight: 200;
}
.container .right_Part {
    position: relative;
    background: var(--white-color);
    padding: 40px;
}
h1 {
    color: yellow;
}