{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica
}
body {
    background-color: powderblue;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    min-width: 100vw;
}
.container {
    position: relative;
    width: 100%;
    
    min-height: 1000px;
    background: #fff;
    display: grid;
    grid-template-columns: 1fr 2fr;
    box-shadow: 0 35px 55px rgb(0, 0, 0, 0.1);
}
.container .left_Part {
    position: relative;
    background: #003147;
    padding: 40px;
}
.container .right_Part {
    position: relative;
    background: #fff;
    padding: 40px;
}
h1 {
    color: yellow;
}